{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/reviews/reviews.css' %}">
{% endblock %}

<h2 class="text-center mb-4 pb-2 border-bottom">Buyer Reviews</h2>

<!-- Display Review Form First -->
<div> {% if user.is_authenticated %}
{% if can_review %}
    <div class="review-form-container m-4 p-4 border rounded fs-4">
        <p class="mb-1">Reviewer: {{ user.username }}</p>
        <form id="reviewForm" method="POST" class="mb-3">
            {% csrf_token %}
            {{ review_form|crispy }}
            {% if review_form.errors %}
                <div class="alert alert-danger">
                    {{ review_form.errors }}
                </div>
            {% endif %}
            <button id="submitButton" type="submit" class="btn button-style rounded px-4 py-2">
                Submit Review
            </button>
        </form>
    </div>
{% else %}
    <p class="fst-italic">You can only leave a review after purchasing this product.</p>
{% endif %}
{% else %}
<p><a href="{% url 'account_login' %}">Log in</a> to leave a review</p>
{% endif %}
</div>

<!-- Iterate through each review -->
{% for review in reviews %}
<div class="review-item mb-4 p-4 border rounded fs-4">
    <div class="d-flex justify-content-between">
        <!-- Review User Information -->
        <div class="d-flex align-items-center mb-3">
            <span><strong>{{ review.user.username }}</strong></span> |
            <span class="ms-2">{{ review.created_on|naturaltime }}</span> 
            <span class="ms-2">
                <!-- Star Rating Display -->
                {% for i in "12345"|make_list %}
                    {% if i|add:0 <= review.rating %}
                        <i class="fa-solid fa-star star-filled"></i>
                    {% else %}
                        <i class="fa-solid fa-star star-empty"></i>
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <!-- Edit and Delete Buttons (visible to review owner or superuser) -->
        {% if request.user == review.user or request.user.is_superuser %}
        <div>
            {% include 'reviews/delete-review.html' %}
            <a href="{% url 'edit-review' review.pk %}" class="border-0 bg-transparent p-0" aria-label="edit-review" title="Edit Review">
                <span class="material-icons fs-2">📝</span>
            </a>
        </div>
        {% endif %}
    </div>
    <p class="mb-2">{{ review.content|linebreaks }}</p>
    <hr class="my-0">
</div>
{% empty %}
<p class="m-4">No reviews yet.</p>
{% endfor %}
