{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Teacup Tales Books | Delete Profile {% endblock %}
{% block content %}
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-3">
                {% include 'components/profile-sidebar.html' %}
            </div>
            <div class="col-8 col-md-8 col-lg-8 mx-auto">
                <div class="card bg-clr-dom-light shadow-sm">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <!-- Profile delete form -->
                            <h3 class="fw-bold mb-4 text-uppercase">Please Wait...</h3>
                            <p class="mb-5">Are you sure you want to DELETE
                                    {{request.user.username }} ?</p>
                            <form method="post">
                                {% csrf_token %} 
                                <button class="btn btn-danger txt-btn" type="submit"> <i
                                        class="fas fa-user-times"></i> Delete</button>
                            </form>
                            <a class="btn button-style my-3" href="{% url 'profile' %}"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}