{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}">
{% endblock %}

{% block title %} Teacup Tales Books | Delete Profile {% endblock %}
{% block content %}

    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-3">
                {% include 'components/profile-sidebar.html' %}
            </div>
            <div class="col-md-9">
                <div class="card shadow-sm">
                    <div class="card-body p-5 text-center prof-table">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <!-- Profile delete form -->
                            <h3 class="fw-bold mb-4 text-uppercase">Please Wait...</h3>
                            <p class="mb-5">Are you sure you want to DELETE
                                    {{request.user.username }} ?</p>
                            <form method="post">
                                {% csrf_token %} 
                                <button class="btn btn-danger" type="submit"> <i
                                        class="fas fa-user-times"></i> Delete</button>
                            </form>
                            <a class="btn button-style my-3" href="{% url 'profile' %}"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}