<!-- Button to trigger modal for Profile Information -->
<button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#editProfileModal">
    Edit
</button>

<!-- Profile Information Edit Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Shipping</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="profileForm" method="POST" action="{% url 'profile' %}">
                    {% csrf_token %}
                    {{ profile_form|crispy }}  
                    <div id="profileFormErrors" class="alert alert-danger" style="display:none;"></div>
                    <input type="hidden" name="form_type" value="profile_form">
                    <button type="submit" class="btn add-btn">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
