{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout/checkout.css' %}">
{% endblock %}

<a data-bs-toggle="modal" data-bs-target="#orderDetailsModal-{{ order.id }}" style="cursor: pointer;">
    🧷
</a>
<!-- Modal for Order Details -->
<div class="modal fade" id="orderDetailsModal-{{ order.id }}" tabindex="-1" aria-labelledby="orderDetailsModalLabel-{{ order.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel-{{ order.id }}">Order #{{ order.order_number }} Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="order-confirmation-wrapper p-4 text-start">
                    <!-- Order Info -->
                    <div class="row mb-3">
                        <div class="col-6">
                            <strong>Order Number:</strong>
                        </div>
                        <div class="col-6 text-end">
                            {{ order.order_number }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <strong>Order Date:</strong>
                        </div>
                        <div class="col-6 text-end">
                            {{ order.date }}
                        </div>
                    </div>

                    <!-- Order Details -->
                    <div class="row mb-2">
                        <div class="col-12">
                            <h6>Order Details:</h6>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    {% include 'components/item-summary.html' %}
                    {% endfor %}
                    
                    <!-- Delivery and Billing Addresses -->
                    {% include 'components/delivery-info.html' %}

                    <!-- Payment Info -->
                    {% include 'components/payment-info.html' %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-style" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
