<!-- Button to trigger modal for User Information -->
<button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#editUserModal">
    Edit
</button>

<!-- User Information Edit Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="userForm" method="POST" action="{% url 'profile' %}">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    <div id="userFormErrors" class="alert alert-danger" style="display:none;"></div>
                    <input type="hidden" name="form_type" value="user_form">
                    <button type="submit" class="btn add-btn">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>