{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block title %} Teacup Tales | Shopping Bag {% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="mb-4">Your Shopping Bag</h2>

    <!-- Shopping Bag Table -->
    <div class="row">
        <div class="col-md-8">
            {% if cart_items %}
            <table class="table align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-end">Price</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3">
                            <div class="d-flex flex-column flex-xl-row align-items-center">
                                <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
                                     alt="{{ item.product.title }}" 
                                     class="img-fluid rounded me-3 mb-2 mb-md-0" style="width: 100px;">
                                <div>
                                    <h5 class="mb-1">{{ item.product.title }}</h5>
                                    {% for author in item.product.author.all|slice:':1' %}
                                    <p class="text-muted mb-0">by {{ author }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td class="text-center">{{ item.product.price }}</td>

                        <td class="text-center">
                            <form class="form update-form" action="{% url 'change-quantity' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group input-group-{{ item.ietm_id }}">
                                        <!-- Decrement Button -->
                                        <div class="input-group-prepend">
                                            <button class="btn rounded-circle mx-2 decrement-qty btn btn-black decrement-qty_{{ item.item_id }}" aria-label="Decrease quantity" data-item_id="{{ item.item_id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        
                                        <!-- Quantity Input -->
                                        <input class="form-control qty_input id_qty_{{ item.item_id }}" 
                                               type="number" 
                                               name="quantity" 
                                               value="{{ item.quantity }}"
                                               min="1" 
                                               max="{{ item.product.stock_amount }}" 
                                               data-item_id="{{ item.item_id }}" 
                                               aria-label="Product quantity" style="max-width: 60px;">
                                        
                                        <!-- Increment Button -->
                                        <div class="input-group-append">
                                            <button class="btn rounded-circle mx-2 increment-qty btn btn-black rounded-0 increment-qty_{{ item.item_id }}" aria-label="Increase quantity" data-item_id="{{ item.product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <button type="submit" aria-label="update quantity" class="btn btn-outline-secondary">
                                            <span class="material-icons">🔃</span>
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </td>
                        <td class="text-center">€{{ item.product.price | calc_subtotal:item.quantity }}</td>
                        <td>
                                                
                            <form action="{% url 'remove-from-cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <button class="remove-item text-danger float-right" id="remove_{{ product.item_id }}" type="submit" aria-label="remove item"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Order Summary -->
        <div class="col-md-4">
            <div class="card p-4">
                <h4>Order Summary</h4>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Subtotal</span>
                    <span></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping</span>
                    <span>$10.00</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Subtotal</span>
                    <span class="fw-bold">$160.00</span>
                </div>
                <div>
                    <hr>
                <h3>Discount Code</h3>
            <p>Do you have a discount code or gift voucher?</p>
          
            <input type="text" class="discount-code" placeholder="Enter code">
            <a href="#" title="TITLE TEXT." class="btn btn-sma">Apply code</a></div>
                        <hr>
            <div class="d-flex justify-content-between">
                <span>Total to Pay</span>
                <span class="fw-bold">$10.00</span>
            </div>

                <button class="btn btn-primary btn-lg w-100 mt-3">Proceed to Checkout</button>
            </div>
        </div>
    </div>

    <!-- Continue Shopping Button -->
    <div class="text-center mt-5">
        <a href="#" class="btn btn-outline-secondary">Continue Shopping</a>
    </div>
    {% else %}
    <div class="row d-flex justify-content-md-between justify-content-center">
        <div class="col-12 col-lg-8 p-0 mx-auto">
            <div class="custom-border p-5">
                <div class="text-center">
                    <h5>Your cart is empty.</h5>
                    <a href="{% url 'all-products' %}" class="btn btn-orange mt-2"><i class="fa-solid fa-arrow-left"
                            style="color: #fff;"></i> Continue
                        Shopping</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% include 'includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
  
{% endblock %}
