

.list-group-item:hover {
  background-color: #ffffff; 
 
}

.list-group-item.active {
  background-color: #D2624B;
  border-color: var(--color-brown);
  color: #030303;
  font-weight: 700;
}

#sidebarMenu {
  border: 0.25rem solid var(--color-brown);
}

.admin-table {
  border: 0.25rem solid var(--color-brown);
}

.form-select[multiple] {
  height: 15rem;
}

.form-control,
.form-select {
  font-size: 1.5rem;
}


.sidebar {
    height: auto;
    position: relative;
    overflow-y: visible;
    color: white;
  }
  
.admin-table th {
    font-weight: bold;
}

@media (min-width: 768px) {

  .sidebar {
    height: 60vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    }
  }

