

.list-group-item:hover {
  background-color: var(--background-color); 
 
}

.list-group-item.active {
  background-color: #D2624B;
  border-color: var(--color-brown);
}


#sidebarMenu {
  border: 0.25rem solid var(--color-brown);
  border-radius: 0.5rem; 

}


/* Mobile-first styles */
.sidebar {
    height: auto;
    position: relative;
    overflow-y: visible;
    background-color: var(--background-color);
    color: #4f4f4f;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      height: 60vh;
      position: sticky;
      top: 0;
      overflow-y: auto;
    }
  }

