{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block title %} Teacup Tales | Shopping Bag {% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="mb-4">Your Shopping Bag</h2>
    <!-- Shopping Bag Table -->
    <div class="row">
        <div class="col-md-8">
            {% if cart_items %}
            <table class="table align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3">
                            <div class="d-flex flex-column flex-xl-row align-items-center">
                                <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
                                     alt="{{ item.product.title }}" 
                                     class="img-fluid rounded me-3 mb-2 mb-md-0" style="width: 100px;">
                                <div>
                                    <h5 class="mb-1">{{ item.product.title }}</h5>
                                    {% for author in item.product.author.all|slice:':1' %}
                                    <p class="text-muted mb-0">by {{ author }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                        <td>{{ item.product.price }}</td>
                        <td>
                            <form class="form update-form d-flex align-items-center" action="{% url 'change-quantity' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group me-2">
                                    {% include 'components/quantity-selector.html' with product=item.product quantity=item.quantity %}
                                </div>
                                <button type="submit" aria-label="update quantity" class="border-0 bg-transparent p-0">
                                    <span class="material-icons fs-2">🔃</span>
                                </button>
                            </form>
                            
                        </td>
                        <td>€{{ item.product.price | calc_subtotal:item.quantity }}</td>
                        <td>            
                            <form action="{% url 'remove-from-cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <button class="text-danger border-0 bg-transparent p-0 float-right" id="remove_{{ product.item_id }}" type="submit" aria-label="remove item">
                                    <i class="material-icons fs-3 fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Order Summary -->
        <div class="col-md-4">
            <div class="card p-4">
                <h2>Order Summary</h2>
<hr>
                <h3>Discount Code</h3>
                <p>Do you have a discount code?</p>
              
                <input type="text" class="discount-code" placeholder="Enter code">
                <button type="submit" class="btn btn-secondary" aria-label="add discount code">Add</button>

                <hr>
                <div class="d-flex justify-content-between">
                    <span>Subtotal</span>
                    <span>€{{ total|floatformat:2 }}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping</span>
                    <span>€{{ delivery|floatformat:2 }}</span>
                </div>
                <hr>
                {% if discount_amount > 0 %}
                <div class="discount d-flex justify-content-between">
                    <p class="text-success fw-bold">Discount:</p>
                    <p class="text-success fw-bold">- €{{ discount_amount|floatformat:2 }}</p>
                </div>
                {% endif %}
                <div>
                    <hr>
            <div class="d-flex justify-content-between">
                <span>Total to Pay</span>
                <span class="fw-bold">€{{ grand_total|floatformat:2 }}</span>
            </div>

                <button class="btn btn-primary btn-lg w-100 mt-3">Proceed to Checkout</button>
            </div>
        </div>
    </div>

    <!-- Continue Shopping Button -->
    <div class="text-center mt-5">
        <a href="{% url 'all-products' %}" class="btn btn-outline-secondary">Continue Shopping</a>
    </div>
    {% else %}
    <div class="row d-flex justify-content-md-between justify-content-center">
        <div class="col-12 col-lg-8 p-0 mx-auto">
            <div class="custom-border p-5">
                <div class="text-center">
                    <h5>Your cart is empty.</h5>
                    <a href="{% url 'all-products' %}" class="btn btn-orange mt-2"><i class="fa-solid fa-arrow-left"></i>Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% include 'includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}
