asgiref==3.8.1
bleach==6.1.0
boto3==1.35.26
botocore==1.35.26
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
cryptography==43.0.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.2
django-allauth==0.54.0
django-bootstrap5==24.2
django-countries==7.2.1
django-crispy-forms==2.3
django-humanize==0.1.2
django-modal-forms==2.0
django-phonenumber-field==8.0.0
django-storages==1.14.4
django-summernote==0.8.20.0
django-widget-tweaks==1.5.0
humanize==4.10.0
idna==3.8
jmespath==1.0.1
oauthlib==3.2.2
phonenumbers==8.13.45
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.10.2
setuptools==75.1.0
six==1.16.0
sqlparse==0.5.1
stripe==10.12.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
