{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stock-admin/admin.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Admin Dashboard {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row g-0">
        <!-- Sidebar on the Left -->
        <div class="col-lg-3 col-md-3 col-sm-12">
            {% include 'components/dashboard-sidebar.html' %}
        </div>
        <!-- Main Dashboard Content on the Right -->
        <div class="col-lg-9 col-md-9 col-sm-12 m-0 admin-table">
            <div class="table-title mt-4 mx-2">
                <div class="row">
                    <div class="col-sm-6 fw-bolder fs-2">
                        <span>Manage Products</span>
                        
                    </div>
                    <div class="col-md-6 col-sm-12 text-end">
                <a href="{% url 'add-product' %}" class="btn add-btn">
                            <i class="fas fa-plus"></i> Add New Product
                        </a>
                </div>
                    <div class="col-sm-12 mb-4 text-end my-2">
                       
                         {% include 'components/sort-by.html' %}
                    </div>
                </div>
            </div>
            <!-- Products Table -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Created</th>
                            <th scope="col">Price</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>
                                {% for author in product.author.all %}
                                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ product.added }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.genre }}</td>
                            <td>{{ product.stock_amount }}</td>
                            <td>
                                <a href="{% url 'edit-product' product.id %}" class="border-0 bg-transparent p-0" aria-label="edit-product" title="Edit Product">
                                    <span class="material-icons fs-2">📝</span>
                                </a>
                                {% include 'stock-admin/delete-product.html' %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">No products available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
             <!-- Include pagination controls -->
             {% include 'includes/pagination.html' %}
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/sort-by.js' %}"></script>

{% endblock %}


