<!-- Delete Button Triggering the Modal -->
<button type="button" class="text-danger border-0 bg-transparent p-0 float-right mx-1" data-bs-toggle="modal"
  data-bs-target="#exampleModal-{{ product.id }}" aria-label="Delete {{ product.title }}" title="Delete Product">
  <i class="material-icons fs-3 fa-solid fa-trash-can"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ product.id }}"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <!-- Use product.id here to match aria-labelledby -->
        <h5 class="modal-title" id="deleteModalLabel-{{ product.id }}">{{ product.title }} will be deleted!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body fs-3">
        This action cannot be reverted!
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <!-- Cancel Button -->
        <button type="button" class="btn button-style" data-bs-dismiss="modal">
          Cancel
        </button>
        <!-- Delete Form -->
        <form method="post" action="{% url 'delete-product' product.id %}">
          {% csrf_token %}
          <button class="btn btn-danger txt-btn" type="submit">
            <i class="fa-solid fa-trash"></i> Confirm Delete
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
