{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stock-admin/admin.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Admin Dashboard {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar on the Left -->
    <div class="col-md-3 col-lg-2 p-0 bg-light">
      {% include 'components/dashboard-sidebar.html' %}
    </div>
    <div class="col-md-9 col-lg-10">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-12">
            <div class="card bg-clr-dom-light shadow-sm m-5 p-5">
                <h2 class="fw-bold my-4 text-center">Edit Product</h2>
                
                    <!-- Form for editing insight -->
                    <form class="text-dark" method="post" enctype="multipart/form-data">
                        <!-- Render form fields using Crispy Forms for better styling -->
                        {{ form | crispy }}
                        
                        {% if form.image %}
                        <div class="mb-3">
                            <label for="id_featured_image" class="form-label">
                                Current Image:
                            </label>
                            <div class="form-control d-flex h-auto">
                                <a href="{{ form.instance.image_url }}">{{ form.instance.image}}</a>
                            </div>
                            <input type="file" name="featured_image" class="form-control" id="id_featured_image">
                        </div>

                        {% endif %}
                        <!-- CSRF token for security -->
                        {% csrf_token %}
                        <!-- Display any messages, e.g., success or error messages -->
                        {{ message }}
                        <!-- Buttons -->
                        <div class="d-flex justify-content-between mt-3">
                            <button type="submit" class="btn btn-success txt-btn mt-4">Update</button>
                            <a class="btn button-style mt-4" href="{% url 'home' %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}