{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stock-admin/admin.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Manage Authors {% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <!-- Sidebar on the Left -->
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            {% include 'components/dashboard-sidebar.html' %}
        </div>
        <!-- Main Content on the Right -->
        <div class="col-lg-9 col-md-9 col-sm-12 admin-table">
            <div class="table-title my-4">
                <div class="row">
                    <div class="col-sm-6 fw-bolder fs-2">
                        <span>Manage Authors</span>
                    </div>
                    <div class="col-sm-6 text-end">
                         <!-- Add Author Button -->
                            <button class="btn add-btn" data-bs-toggle="modal" data-bs-target="#addAuthorModal">
                                <i class="fas fa-plus"></i>Add New Author</button>
                    </div>
                </div>
            </div>

            <!-- Author List -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Bio</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for author in authors %}
                        <tr>
                            <td>{{ author.name }}</td>
                            <td>{{ author.bio }}</td>
                            <td class="text-end">
                                <!-- Edit Button -->
                                <button class="border-0 bg-transparent p-0 float-right" data-bs-toggle="modal"
                                    data-bs-target="#editAuthorModal-{{ author.id }}" aria-label="Edit Author"
                                    title="Edit Author">
                                    <span class="material-icons fs-2">📝</span>
                                </button>
                                <!-- Delete Button -->
                                <button class="text-danger border-0 bg-transparent p-0 float-right m-1"
                                    data-bs-toggle="modal" data-bs-target="#deleteAuthorModal-{{ author.id }}"
                                    aria-label="Delete Author" title="Delete Author">
                                    <i class="material-icons fs-3 fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>

                        <!-- Edit Modal -->
                        {% include 'components/edit-author.html' %}
                        <!-- Delete Modal -->
                        {% include 'components/delete-author.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
             {% include 'includes/pagination.html' %}
        </div>
    </div>
</div>
<!-- Add Author Modal -->
{% include 'components/add-author.html' %}

{% endblock %}