{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stock-admin/admin.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Admin Dashboard {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar on the Left -->
    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        {% include 'components/dashboard-sidebar.html' %}
    </div>
    <!-- Main Content on the Right -->
    <div class="col-lg-6 col-md-9 col-sm-12">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Categories</h2>
          </div>
          <!-- Add Category Form -->
          <div class="col-sm-6 text-end mb-4">
            <button class="btn add-btn" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
              <i class="fas fa-plus"></i>Add New Category</button>
          </div>
        </div>
      </div>
      <!-- Category List -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Category Name</th>
              <th scope="col" class="text-end">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr>
              <td>{{ category.name }}</td>
              <td class="text-end">
                
                <button class="border-0 bg-transparent p-0 float-right mx-3"
                  data-bs-toggle="modal"
                  data-bs-target="#editCategoryModal-{{ category.id }}"
                  aria-label="Edit Category" title="Edit Category">
                  <span class="material-icons fs-2">📝</span>
                </button>
                <button class="text-danger border-0 bg-transparent p-0 float-right mx-1"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteCategoryModal-{{ category.id }}"
                  aria-label="Delete Category" title="Delete Category">
                  <i class="material-icons fs-3 fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
            <!-- Edit Modal -->
            {% include 'components/edit-category.html' %}
            <!-- Delete Modal -->
            {% include 'components/delete-category.html' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% include 'components/add-category.html' %}

{% endblock %}
