{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stock-admin/admin.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Manage Genre {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar on the Left -->
        <div class="col-md-3 col-lg-2 p-0 bg-light">
            {% include 'components/dashboard-sidebar.html' %}
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-6">

    <h2>Manage Genres</h2>

    <!-- Add Genre Form -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGenreModal">Add New Genre</button>

    <!-- Genre List -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <td>{{ genre.name }}</td>
                <td>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editGenreModal-{{ genre.id }}">Edit</button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGenreModal-{{ genre.id }}">Delete</button>
                </td>
            </tr>


            
            <!-- Edit Modal -->
            {% include 'components/edit-genre.html' %}
            <!-- Delete Modal -->
            {% include 'components/delete-genre.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>
</div>
{% include 'components/add-genre.html' %}

{% endblock %}
