{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Account {% endblock %}

{% block content %}

<div class="container-fluid my-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      {% include 'components/profile-sidebar.html' %}
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Personal Details</h2>
            {% include 'components/personal-details-edit.html' %}
        </div>
            <table class="fs-4 table">
              <tbody>
                <tr>
                  <td>First Name</td>
                  <td> {{ request.user.first_name }}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{ request.user.last_name }}</td>
                </tr>
                <tr>
                  <td>Email Address</td>
                  <td>{{ request.user.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
 <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
          <h2>Shipping Information</h2>
              {% include 'components/edit-shipping.html' %}
          </div>
          <table class="fs-4 table">
              <tbody>
                  <tr>
                      <td>Phone Number</td>
                      <td>{{ user_profile.phone_number }}</td>
                  </tr>
                  <tr>
                      <td>Street Address 1</td>
                      <td>{{ user_profile.default_street_address1 }}</td>
                  </tr>
                  <tr>
                      <td>Street Address 2</td>
                      <td>{{ user_profile.default_street_address2 }}</td>
                  </tr>
                  <tr>
                      <td>City</td>
                      <td>{{ user_profile.default_town_or_city }}</td>
                  </tr>
                  <tr>
                      <td>County</td>
                      <td>{{ user_profile.default_county }}</td>
                  </tr>
                  <tr>
                      <td>Postcode</td>
                      <td>{{ user_profile.default_postcode }}</td>
                  </tr>
                  <tr>
                      <td>Country</td>
                      <td>{{ user_profile.default_country }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
</div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'includes/profile-validation.html' %}
{% endblock %}

