{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}">
{% endblock %}

{% block title %} Teacup Tales | Account {% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        {% include 'components/profile-sidebar.html' %}
      </div>
  
      <!-- Main Content -->
      <div class="col-md-9">
        <div class="card mb-3">
          <div class="card-header">
            <h3>Profile Summary</h3>
          </div>
          <div class="card-body">
            <h4>Personal Details</h4>
            <a href="#" class="btn btn-outline-secondary float-end">Edit</a>
            <table class="table">
              <tbody>
                <tr>
                  <td>First Name</td>
                  <td> {{ profile.user.first_name|slice:":1" }}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{ profile.user.last_name|slice:":1" }}</td>
                </tr>
                <tr>
                  <td>Email Address</td>
                  <td>{{ profile.user.email_address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h4>ShippingInformation</h4>
            <a href="#" class="btn btn-outline-secondary float-end">Edit</a>
            <table class="table">
              <tbody>
                <tr>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form"
    class="container border-purple d-flex flex-column flex-md-row justify-content-around align-items-center background-light-green py-5 px-2">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-general btn-box-shadow-white btn-purple text-sm p-3 my-md-5 mx-3 mx-md-5 rounded-0 disabled">Update</button>
    </form></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}  