{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            {% include 'components/profile-sidebar.html' %}
        </div>
        <div class="col-md-9">
            <h1>My Wishlist</h1>
            <div class="row">
                {% for item in wishlist %}
                    <div class="col-lg-6 col-md-auto col-sm-6 mb-3"> 
                        {% include 'components/product-card.html' with product=item.product %}
                    </div>
                {% empty %}
                    <div class="col-12">
                        <p>No items in wishlist.</p>
                    </div>
                {% endfor %}
            </div>
            <!-- Include pagination controls -->
            {% include 'includes/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}