<div class="input-group input-group-{{ product.id }}">
    <div class="input-group-prepend">
        <button
            class="btn rounded-circle mx-2 decrement-qty btn btn-black decrement-qty_{{ product.id }}"
            aria-label="Decrease quantity" data-item_id="{{ product.id }}">
            <span class="icon">
                <i class="fas fa-minus"></i>
            </span>
        </button>
    </div>

    <!-- Quantity Input for Product Page -->
    <input class="form-control qty_input id_qty_{{ product.id }}" type="number" name="quantity"
        value="1" min="1" max="{{ product.stock_amount }}" data-item_id="{{ product.id }}"
        aria-label="Product quantity">

    <div class="input-group-append">
        <button
            class="btn rounded-circle mx-2 increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
            aria-label="Increase quantity" data-item_id="{{ product.id }}">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
        </button>
    </div>
</div>