<div class="input-group input-group-{{ product.id }}">
    <div class="input-group input-group-sm">
        <!-- Decrease Quantity Button -->
        <button class="btn btn-outline-secondary decrement-qty decrement-qty_{{ product.id }}" aria-label="Decrease quantity" data-item_id="{{ product.id }}">
            <i class="fas fa-minus"></i>
        </button>
    
        <!-- Quantity Input -->
        <input type="number" class="form-control text-center qty_input id_qty_{{ product.id }}" name="quantity" value="1" min="1" max="{{ product.stock_amount }}" data-item_id="{{ product.id }}" aria-label="Product quantity">
    
        <!-- Increase Quantity Button -->
        <button class="btn btn-outline-secondary increment-qty increment-qty_{{ product.id }}" aria-label="Increase quantity" data-item_id="{{ product.id }}">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    
</div>
