{% extends 'base.html' %}
{% load static %}

{% block title %} Teacup Tales Bookshop | Product Detail {% endblock %}

{% block content %}

<div class="container product-detail box my-5">
    <div class="row">
      <!-- Image Section -->
      <div class="col-md-5">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" alt="{{ product.title }}" class="img-fluid">
      </div>
  
      <!-- Product Details Section -->
      <div class="col-md-7">
        <h2 class="text-uppercase">{{ product.title }}</h2>
          <!-- Display author names -->
  <h4 class="text-uppercase text-muted">
    {% for author in product.author.all %}
      {{ author.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </h4>
        <hr>
        <div class="price mb-4">
          <span class="fw-bold fs-4">Price: {{ product.price|floatformat:2 }}</span>
        </div>
        <p class="lead">Description here Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <hr>
        <form id="add-to-cart">
          <div class="row">
            <label>Quantity</label>
            <div class="col-auto">
            <input class="form-control quantity" id="quantity" type="number" step="1" value="1" min="1"></div>
            <div class="cart-buttons my-3">
              <button class="btn btn-info btn-lg">
                <span class="shopping-cart">🛒</span>
                <span class="d-none d-sm-inline">Add to cart</span>
              </button>
              <button class="btn btn-info btn-lg">
                <span class="heart">💝</span>
                <span class="d-none d-sm-inline">Add to wish list</span>
              </button>
            </div>
            
          </div>
          </div>
        </form>
      </div>
    </div>
  
    <!-- Bootstrap 5.3 Tabs -->
    <div class="mt-5">
      <ul class="nav nav-tabs" id="productTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq" type="button" role="tab" aria-controls="faq" aria-selected="false">FAQ</button>
        </li>
      </ul>
      <div class="tab-content mt-3" id="productTabContent">
        <!-- Description Tab -->
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <p>Extended product description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </div>
  
        <!-- Reviews Tab -->
        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
          <p>Customer reviews will appear here. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</p>
        </div>
  
        <!-- FAQ Tab -->
        <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
          <p>Frequently asked questions related to this product. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}