{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Order Summary -->
        <div class="col-12 col-lg-6 mb-5">
            <div class="border rounded p-4 shadow-sm">
                <h3 class="text-teal">Order Summary ({{ product_count }})</h3>
                {% for item in cart_items %}
                    <div class="item mb-3 d-flex align-items-center">
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
                             alt="{{ item.product.title }}" 
                             class="item-image mr-3">
                        <div class="info">
                            <span class="item-title fs-4">{{ item.product.title }}</span>
                            <p class="price">{{ item.quantity }} @ {% if item.product.sale_price %}
                                <span class="text-red">€{{ item.product.sale_price }}</span> <!-- Show sale price in red -->
                            {% else %}
                                €{{ item.product.price }}
                            {% endif %} each</p>
                            <p class="total-price">Total: €{{ item.product | calc_subtotal:item.quantity }}</p> 
                        </div>
                    </div> 
                {% empty %}
                    <p>No items in your cart.</p>
                {% endfor %}
                <hr class="my-2">
                {% include 'components/order-totals.html' %}
            </div>
            <!-- Payment Section -->
            {% include 'components/payment.html' %}
        </div>
    </div>
   </div>

<!-- Loading Spinner -->
{% include 'components/spinner.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/phone-validation.js' %}"></script>
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}