{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Order Summary -->
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <div class="border rounded p-4 shadow-sm">
                <h3 class="text-teal">Order Summary ({{ product_count }})</h3>
                {% for item in cart_items %}
                    <div class="item mb-3 d-flex align-items-center">
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
                             alt="{{ item.product.title }}" 
                             class="item-image mr-3">
                        <div class="info">
                            <span class="item-title fs-4">{{ item.product.title }}</span>
                            <p class="price">{{ item.quantity }} @ {% if item.product.sale_price %}
                                <span class="text-red">€{{ item.product.sale_price }}</span> <!-- Show sale price in red -->
                            {% else %}
                                €{{ item.product.price }}
                            {% endif %} each</p>
                            <p class="total-price">Total: €{{ item.product | calc_subtotal:item.quantity }}</p> 
                        </div>
                    </div> 
                {% empty %}
                    <p>No items in your cart.</p>
                {% endfor %}
                <hr class="my-2">
                <div class="row small">
                    <div class="col-9">
                        <p class="mb-1">Order Total:</p>
                        <p class="mb-1 text-success">Savings:</p>
                        <p class="mb-1">Delivery Fee:</p>
                        <p class="mb-0">Total To Pay:</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1">€{{ total|floatformat:2 }}</p>
                        <p class="mb-1 text-success">-€{{ savings|floatformat:2 }}</p>
                        <p class="mb-1">€{{ delivery|floatformat:2 }}</p>
                        <p class="mb-0 font-weight-bold">€{{ grand_total|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            <!-- Payment Section -->
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
            <div class="border rounded p-4 mt-4 shadow-sm">
                <h3 class="text-teal">Payment</h3>
                <fieldset class="px-3 mt-3">
                    <legend class="w-auto px-2 small text-black">Enter Payment Details</legend>
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <p class="small text-danger mt-2">
                    <i class="fas fa-exclamation-circle"></i> Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong>
                </p>
            </div>
            <!-- Complete Order Button -->
            <div class="text-right mt-4">
                <a href="{% url 'view-cart' %}" class="btn btn-secondary rounded-0 mr-2">
                    <i class="fas fa-chevron-left"></i> Return to Cart
                </a>
                <button id="submit-button" class="btn button-style rounded-0 mx-5">
                    Complete Order <i class="fas fa-lock"></i>
                </button>
                
            </div>
        </div>
        <!-- Delivery Form -->
        <div class="col-12 col-lg-6">
                <!-- Details Section -->
                <fieldset class="border p-4 rounded mb-4 shadow-sm">
                    <legend class="w-auto px-2 small text-black">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                
                <!-- Delivery Section -->
                <fieldset class="border p-4 rounded mb-4 shadow-sm">
                    <p>Please fill out the form below to complete your order</p>
                    <legend class="w-auto px-2 small text-black">Delivery Information</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <p>{{ error }}</p>
                    <div class="form-check float-right mt-2">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save delivery info to my profile</label>
                            <input class="form-check-input ml-2" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label">
                                <a class="text-teal" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-teal" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- Loading Spinner -->
<div id="loading-overlay" class="position-fixed w-100 h-100 d-flex justify-content-center align-items-center" style="background-color: rgba(0,0,0,0.5);">
    <h1 class="text-light logo-font loading-spinner">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}

