{% load static %}

<!-- Hero image and search box -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 p-md-1">
            <div class="row">
                <div class="col-12 col-sm-10 p-md-1">
                    <h1 class="text-center mt-5">Quick Search</h1>
                    {% include 'components/searchbox.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img src="{% static 'images/hero.webp' %}" alt="Hero Image" class="img-fluid w-img d-none d-md-block">
        </div>
    </div>
</div>

