{% load static %}

<div class="container-fluid">
    <!-- New Arrivals Section -->
    <h1 class="my-5 text-center fw-bold">New Arrivals</h1>

    <!-- Responsive Grid for New Arrivals -->
    <div class="row justify-content-center">
        <!-- Loop through new arrivals -->
        {% for product in new_arrivals %}
        <!-- Use col-* classes for responsive layout -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex flex-column align-items-center justify-content-center product-item my-3">
            <div class="product position-relative p-4">
                <!-- Product link and image -->
                <a href="{% url 'product-detail' product.id %}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
                         class="img-fluid rounded list-img mx-1" alt="{{ product.title }}">
                </a>
                <!-- Price -->
                <div class="position-absolute top-0 start-0 p-4 rounded">
                    {% if product.sale_price %}
                        <!-- Show the sale price and strike through the original price -->
                        <span class="bg-danger text-white fs-1 rounded">€{{ product.sale_price }}</span> 
                    {% else %}
                        <!-- Show only the original price if no sale price is available -->
                        <span class="bg-success text-white fs-1 rounded">€{{ product.price }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
