{% load static %}

<div class="container my-5">
    <!-- Section Title -->
    <h1 class="text-center mb-5">You Might Be Looking For...</h1>

    <!-- Category Row -->
    <div class="row justify-content-evenly category-icon">
        <!-- Category: Special Offers -->
        <div class="col-2 text-center">
            <a href="{% url 'special-offers' %}" aria-label="Special Offers">
                <!-- Icon for Special Offers -->
                <i class="fas fa-star fa-4x text-primary"></i>
                <span class="visually-hidden">Special Offers</span> <!-- Hidden text for screen readers -->
            </a>
            <p>Special Offers</p>
        </div>
        <!-- Category: Fiction -->
        <div class="col-2 text-center mx-5">
            <a href="{% url 'product-search' %}?author_name=&title=&description=&isbn=&category=2" aria-label="Romance">
                <!-- Icon for Fiction -->
                <i class="fas fa-book fa-4x text-warning"></i>
                <span class="visually-hidden">Romance</span> <!-- Hidden text for screen readers -->
            </a>
            <p>Romance</p>
        </div>
        <!-- Category: History -->
        <div class="col-2 text-center mx-5">
            <a href="{% url 'product-search' %}?author_name=&title=&description=&isbn=&category=4" aria-label="History">
                <!-- Icon for History -->
                <i class="fas fa-newspaper fa-4x text-info"></i>
                <span class="visually-hidden">History</span> <!-- Hidden text for screen readers -->
            </a>
            <p>History</p>
        </div>
        <!-- Category: Children's -->
        <div class="col-2 text-center mx-5">
            <a href="{% url 'product-search' %}?author_name=&title=&description=&isbn=&category=1" aria-label="Children's Books">
                <!-- Icon for Children's Books -->
                <i class="fas fa-child fa-4x text-success"></i>
                <span class="visually-hidden">Children's Books</span> <!-- Hidden text for screen readers -->
            </a>
            <p>Children's</p>
        </div>
        <!-- Category: Mind, Body & Spirit -->
        <div class="col-2 text-center">
            <a href="{% url 'product-search' %}?author_name=&title=&description=&isbn=&category=3" aria-label="Mind, Body & Spirit">
                <!-- Icon for Mind, Body & Spirit -->
                <i class="fas fa-cloud fa-4x text-danger"></i>
                <span class="visually-hidden">Mind, Body & Spirit</span> <!-- Hidden text for screen readers -->
            </a>
            <p>Mind & Body</p>
        </div>
    </div>
</div>
