{% extends 'base.html' %}
{% load static %}

{% block title %} Teacup Tales | Admin Dashboard {% endblock %}

{% block content %}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Products</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'add-product' %}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
                    <a href="#deleteProductModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox{{ forloop.counter }}" name="options[]" value="{{ product.id }}">
                            <label for="checkbox{{ forloop.counter }}"></label>
                        </span>
                    </td>
                    <td>{{ product.title }}</td>
                    <td>
                        {% for author in product.author.all %}
                            {{ author.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ product.created }}</td>
                    <td>{{ product.stock_amount }}</td>
                    <td>
                        <a href="#editProductModal" class="edit" data-toggle="modal" data-product-id="{{ product.id }}"><i class="material-icons" data-toggle="tooltip" title="Edit">📝</i></a>
                        <a href="#deleteProductModal" class="delete" data-toggle="modal" data-product-id="{{ product.id }}"><i class="material-icons" data-toggle="tooltip" title="Delete">🚮</i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No products available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ products.paginator.per_page }}</b> out of <b>{{ products.paginator.count }}</b> entries</div>
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                <li class="page-item"><a href="?page={{ products.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}
                {% for page_num in products.paginator.page_range %}
                <li class="page-item{% if products.number == page_num %} active{% endif %}">
                    <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                </li>
                {% endfor %}
                {% if products.has_next %}
                <li class="page-item"><a href="?page={{ products.next_page_number }}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{ products.paginator.num_pages }}" class="page-link">Last</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<!-- Add Product Modal HTML -->
<div id="addProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'add-product' %}">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" required>
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <select class="form-control" name="authors" multiple>
                            {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Stock Amount</label>
                        <input type="number" class="form-control" name="stock_amount" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Product Modal HTML -->
<div id="editProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Populate these fields with the current product data -->
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" value="{{ product.title }}" required>
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <select class="form-control" name="authors" multiple>
                            {% for author in authors %}
                            <option value="{{ author.id }}" {% if author.id in product.author.all %}selected{% endif %}>{{ author.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Stock Amount</label>
                        <input type="number" class="form-control" name="stock_amount" value="{{ product.stock_amount }}" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" required>{{ product.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image">
                        <!-- Display current image if available -->
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-thumbnail mt-2" width="100">
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Product Modal HTML -->
<div id="deleteProductModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Delete Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();
        
        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function(){
            if(this.checked){
                checkbox.each(function(){
                    this.checked = true;                        
                });
            } else{
                checkbox.each(function(){
                    this.checked = false;                        
                });
            } 
        });
        checkbox.click(function(){
            if(!this.checked){
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>


{% endblock %}