<!-- Add Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addCategoryLabel">Add New Category</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}  <!-- Form for adding a new category -->
                    <input type="hidden" name="add_category" value="1">
                    <button type="submit" class="btn button-style">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>