     {% load static %}
     {% load navigation_tags %}

     <!-- Sidebar -->
    <aside class="sticky-md-top">
      
    <nav id="sidebarMenu" class="sidebar">
     
          <div class="list-group list-group-flush mx-3 my-5">
            <a href="{% url 'admin-summary' %}" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'product-dashboard' %}" class="list-group-item list-group-item-action py-2 {% active_url 'product-dashboard' %}">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
          </a>
          <a href="{% url 'manage-category' %}" class="list-group-item list-group-item-action py-2 {% active_url 'manage-category' %}">
              <i class="fas fa-building fa-fw me-3"></i><span>Categories</span>
          </a>
          <a href="{% url 'manage-genre' %}" class="list-group-item list-group-item-action py-2 {% active_url 'manage-genre' %}">
              <i class="fas fa-globe fa-fw me-3"></i><span>Genres</span>
          </a>
          <a href="{% url 'manage-author' %}" class="list-group-item list-group-item-action py-2 {% active_url 'manage-author' %}">
              <i class="fas fa-users fa-fw me-3"></i><span>Authors</span>
          </a>
          <a href="{% url 'manage-coupon' %}" class="list-group-item list-group-item-action py-2 {% active_url 'manage-coupon' %}">
              <i class="fas fa-chart-pie fa-fw me-3"></i><span>Discounts</span>
          </a>
          <a href="{% url 'manage-orders' %}" class="list-group-item list-group-item-action py-2 {% active_url 'manage-orders' %}">
              <i class="fas fa-money-bill fa-fw me-3"></i><span>Orders</span>
          </a>
          

        </div>
      </nav> 
    </aside>