
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteGenreModal-{{ genre.id }}" tabindex="-1" aria-labelledby="deleteGenreLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteGenreLabel">Delete Genre</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="genre_id" value="{{ genre.id }}">
                                <input type="hidden" name="delete_genre" value="1">
                                <p>Are you sure you want to delete this genre?</p>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>