<div class="modal fade" id="deleteCategoryModal-{{ category.id }}" tabindex="-1" aria-labelledby="deleteCategoryLabel-{{ category.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryLabel-{{ category.id }}">Delete Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="category_id" value="{{ category.id }}">
                    <input type="hidden" name="delete_category" value="1">
                    <p>Are you sure you want to delete {{ category.name }} category?</p>
                    <div class="modal-footer">
                        <!-- Cancel Button -->
                        <button type="button" class="btn button-style" data-bs-dismiss="modal">
                          Cancel
                        </button>
                        <button type="submit" class="btn btn-danger txt-btn">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
