
/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Global Styling */

:root {
  --color-gold: #C89E51;
  --background-color: #FBF7EF; 
  --midnight-green: #0d5159;
  --color-brown: #b5452c;
  --light-green: #94a937;
  --light-beige: #ac8e0c;

  --muted-blue: #598392;
}

*,
*::before,
*::after {margin: 0;
    padding: 0;
    box-sizing: inherit;
}  

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  color: #141414; 
  background-color: var(--background-color);
  min-height: 100vh;
}

a { 
  color: inherit;
  text-decoration: none;
 } 



#bg-footer {
  background-color: var(--light-green);
}

#delivery-banner {
  width: 100%;
  color: #1f1d1d;
  padding-top: 1rem;
}

.navbar {
  box-shadow: 0px 4px 10px var(--color-gold);
}

/* Darker color for active and hover states */
.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  font-weight: 500;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #4f4f4f;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-link {
  text-decoration: none;
}

/* Override the link color in the navigation bar */
.nav-link {
  color: #4f4f4f;
}

.nav-link:hover, 
.nav-link:focus {
  color: var(--color-gold); /* Gold color on hover */
  text-decoration: none; /* Remove underline on hover */
}


/* Styling for the dropdown menu */
.dropdown-menu {
  border-radius: 0.5rem;
  border: none; 
  padding: 0.5rem 0; 
}

/* Styling for each dropdown item */
.dropdown-item {
  display: flex; 
  align-items: center; 
  padding: 0.5rem 1rem; 
  font-size: 1.5rem; 
}

.dropdown-item i {
  font-size: 1.5rem; 
  margin-right: 0.5rem; 
  color: var(--steel-blue); 
}

.dropdown-item:hover, 
.dropdown-item:focus {
  background-color: var(--color-gold);
  color: #FBF7EF; 
}

.dropdown-item:hover i, 
.dropdown-item:focus i {
  color: #FBF7EF; 
}

/* Optional: Add spacing between dropdown items */
.dropdown-item + .dropdown-item {
  margin-top: 0.3rem;
}

/* Custom focus state for input, select, and textarea elements */
.form-control:focus
 {
  outline: none; 
  border-color: var(--color-gold); 
  box-shadow: 0 0 5px var(--color-gold);

}

.form-label {
  font-weight: 500;
  color: #4F4F4F;
}

/* Custom input group for the newsletter */
.newsletter-input {
  max-width: 25rem; /* Set maximum width for the input group */
  width: 100%;
  margin: 0 auto;   /* Center the input group */
}

.newsletter-input .form-control {
  font-size: 1.25rem;
  height: 3rem; 
}


.newsletter-input .btn {
  font-size: 1.25rem; 
  outline: none; /* Ensure the button matches the input field */
}

.btn {
  font-size: 1.2rem; 
  padding: 0.8rem 1rem;
  color: #242424;
  font-weight: 700;
}

.button-style {
  background-color: var(--light-beige);
  color: #242424;
  font-weight: 700;
}

.button-style:hover {
 background-color: var(--color-gold);
}
.add-btn {
  background-color: var(--light-green);
}

.add-btn:hover {
  background-color: var(--midnight-green);
}

.w-img {
  width: 100%;
}

/* Primary Button */
/* States styling */
.btn:hover, 
.btn:focus, 
.btn:active {
    outline: none; /* Remove outline */
    box-shadow: none;
}

.txt-btn {
  color: #242424;
  font-weight: 700;
}

.btn:focus,
.btn:active {
    outline: none; 
    box-shadow: none;
    transform: none; 
}
/* 
/* Container for the product item */
.product-item {
  position: relative;
  border: none;
  border-radius: 0;
}

.product-item .product {
  position: relative; 
  height: auto;                /* Maintain aspect ratio */
}

.list-img {
  width: 100%;
  max-height: 30vh;
  object-fit: cover; 
  aspect-ratio: 2 / 3; 
}


/* About Us Styling */
.inner-column {
  position: relative;
  padding: 4rem 4rem 0 0;
  margin-left: 5rem;
}

.inner-column:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  left: 4rem;
  bottom: 5rem;
  z-index: -1;
  border: 0.2rem solid var(--color-gold);
  width: 75%;
  border-radius: 1rem;
}

/* Global Sort Dropdown Styling */
.sort-select {
  width: 100%;  
  padding: 0.5rem 1rem; 
  font-size: 1.25rem; 
  border-radius: 0.25rem; 
  border: 1px solid var(--color-gold);  
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;  
}

/* Focus state for the dropdown */
.sort-select:focus {
  border-color: var(--color-gold);  
  box-shadow: 0 0 5px var(--color-gold);  
  outline: none; 
}

.custom-img {
  border-radius: 1rem;
}


/* Background colors */
.bg-green {
  background-color: var(--light-green) !important;
  color: #141414;
}

.bg-black {
  background-color: #1f1d1d;
  color: #FCFCFC;
}

.bg-red {
  background-color: #bb3535;
  color: #FFFFFF;
}

.text-red {
  color: #AD0000;
}

/* CSS for .content-detail */
.content-detail {
  text-align: left !important;
}

/* CSS for .discount */
.discount {
  font-size: 1.2em;
  text-align: left;
  text-decoration: line-through;
}

/* CSS for .price */
.price {
  font-size: 1.7em;
  text-align: left;
}

.table-custom-font {
  font-size: 1.2rem; 
}

.nav-tabs .nav-link {
  text-transform: none;
  font-size: medium; 
}

/* Adjust form input height */
.form-control {
  height: 3.5rem; 
  font-size: 1.2rem; 
}

.table {
  font-size: 1.5rem; 
 
}

/* Adjust font weights for accessibility */

/* Override any inherited styles */
.form-group {
  font-weight: 500; /* Increase font weight */
  opacity: 1; /* Full opacity */
}



/* Media query for larger screens */
@media (min-width: 576px) {
 
  .product-item .icons-container i {
    font-size: 24px;       /* Larger icons on larger screens */
  }

  .product-item .tag {              
    left: 5rem;                

  }
  
}


@media (min-width: 1200px) { 

  .w-img {
    width: 90%;
  }

  .list-img {
    max-height: 45vh;      /* Reduce max height on larger screens */
  }

}
