{% extends 'base.html' %}

{% block content %}
<!-- Summary of privacy policy -->
    <div class="container my-5">
        <h1 class="mb-4">Privacy Policy</h1>
        <p>We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and safeguard your data when you visit our website.</p>

        <h2>Information We Collect</h2>
        <p>We collect personal information that you provide to us voluntarily, such as when you sign up for our newsletter, create an account, or place an order. This may include your name, email address, shipping address, and payment information.</p>

        <h2>How We Use Your Information</h2>
        <p>We use your information to process orders, provide customer service, and improve your experience on our website. We may also send you marketing emails if you’ve opted in to receive them.</p>

        <h2>Data Protection</h2>
        <p>Your data is stored securely, and we implement appropriate security measures to protect against unauthorized access, disclosure, or alteration.</p>

    </div>
{% endblock %}
