<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        /* jshint esversion: 11, jquery: true */
        // Handle quantity increase/decrease
function handleEnableDisable(itemId) {
    var currentValue = parseInt($(`.id_qty_${itemId}`).val());
    var stockAmount = parseInt($(`.id_qty_${itemId}`).attr('max'));
    var minusDisabled = currentValue <= 1;
    var plusDisabled = currentValue >= stockAmount;

    // Enable or disable the decrement button
    $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
    // Enable or disable the increment button
    $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
}

function updateQuantity(itemId, newQuantity) {
    $(`.id_qty_${itemId}`).val(newQuantity);
    handleEnableDisable(itemId);

}

$(document).ready(function() {
    // Initial enable/disable check on page load
    $('.qty_input').each(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Check enable/disable every time the input value is manually changed
    $('.qty_input').on('change', function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').on('click', function(e) {
        e.preventDefault();  // Prevent the default form submission
        var itemId = $(this).data('item_id');
        var inputElement = $(`.id_qty_${itemId}`);
        var currentValue = parseInt(inputElement.val());
        var stockAmount = parseInt(inputElement.attr('max'));

        // Increase the quantity if it's less than the stock amount
        if (currentValue < stockAmount) {
            updateQuantity(itemId, currentValue + 1);
        }
    });

    // Decrement quantity
    $('.decrement-qty').on('click', function(e) {
        e.preventDefault();  // Prevent the default form submission
        var itemId = $(this).data('item_id');
        var inputElement = $(`.id_qty_${itemId}`);
        var currentValue = parseInt(inputElement.val());

        // Decrease the quantity if it's greater than 1
        if (currentValue > 1) {
            updateQuantity(itemId, currentValue - 1);
        }
    });
});

        
    });
    </script>
    