<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
      /* jshint esversion: 11, jquery: true */
      
      function handleEnableDisable(itemId) {
          var currentValue = parseInt($(`.id_qty_${itemId}`).val());
          var stockAmount = parseInt($(`#ItemStock`).val()); // Updated to get stock amount correctly
          var minusDisabled = currentValue <= 1;
          var plusDisabled = currentValue >= stockAmount;
          $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
          $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
      }
  
      // Ensure proper enabling/disabling of all inputs on page load
      $('.qty_input').each(function() {
          var itemId = $(this).data('item_id');
          handleEnableDisable(itemId);
      });
  
      // Check enable/disable every time the input is changed
      $('.qty_input').on('change', function() {
          var itemId = $(this).data('item_id');
          handleEnableDisable(itemId);
      });
  
      // Increment quantity
      $('.increment-qty').on('click', function(e) {
          e.preventDefault();
          var itemId = $(this).data('item_id');
          var inputElement = $(`.id_qty_${itemId}`);
          var currentValue = parseInt(inputElement.val());
          var stockAmount = parseInt($(`#ItemStock`).val());
  
          if (currentValue < stockAmount) {
              inputElement.val(currentValue + 1);
              handleEnableDisable(itemId);
          }
      });
  
      // Decrement quantity
      $('.decrement-qty').on('click', function(e) {
          e.preventDefault();
          var itemId = $(this).data('item_id');
          var inputElement = $(`.id_qty_${itemId}`);
          var currentValue = parseInt(inputElement.val());
  
          if (currentValue > 1) {
              inputElement.val(currentValue - 1);
              handleEnableDisable(itemId);
          }
      });
  });
</script>