{% extends 'base.html' %}
{% load static %}
{% block metadesc %}
    Discover Teacup Tales, your go-to destination for a curated collection of books. Explore bestsellers, new releases, and hidden gems across all genres. 
    Dive into the world of reading today with our friendly and knowledgeable team.
{% endblock metadesc %}


{% block title %} Teacup Tales Books {% endblock %}


{% block content %}
{% include 'components/hero.html' %}
{% include 'components/searchbox.html' %}


{% endblock content %}