{% extends 'base.html' %}
{% load static %}
{% block metadesc %}
    Discover Teacup Tales, your go-to destination for a curated collection of books. Explore bestsellers, new releases, and hidden gems across all genres. 
    Dive into the world of reading today with our friendly and knowledgeable team.
{% endblock metadesc %}


{% block title %} Teacup Tales Books {% endblock %}


{% block content %}
<h1 class="my-1 text-center">Welcome to Teacup Tales Books</h1>
    <h2 class="fs-3 my-3 text-center">Where Every Book is a Steaming Cup of Adventure.</h2>
    <hr class="hr hr-blurry mb-5">
{% include 'components/hero.html' %}
{% include 'components/suggestions.html' %}
{% include 'components/bestsellers.html' %}
{% include 'components/new-in.html' %}

{% endblock content %}