{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-lg-7 col-xl-9">
        <div class="card shadow">
          <div class="d-flex flex-column flex-xl-row align-items-center">
            <!-- Image Section: Left side of the card -->
            <div class="col-xl-5 d-none d-xl-block">
              <img src="{% static 'images/sign-in.webp' %}" alt="sign up book" class="img-fluid rounded-3">
            </div>
            <!-- Form Section: Right side of the card -->
            <div class="col-md-7 d-flex align-items-center" id="form-column">
              <div class="card-body p-4 p-lg-5 text-black">
                <h3 class="mb-4 text-center fs-3">{% trans "Welcome Back!" %}</h3>
                <form class="login form-group" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="d-flex justify-content-center">
                    <button class="btn button-style" type="submit">{% trans "Sign In" %}</button>
                  </div>
                  <div class="mt-3 text-center">
                    <a href="{% url 'account_reset_password' %}" class="text-muted">{% trans "Forgot Password?" %}</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card-footer text-center py-3">
            <p class="mb-0">{% blocktrans %}If you haven't created an account yet, <a href="{{ signup_url }}" class="text-decoration-underline">sign up</a> first.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
