{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="min-vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <!-- Main container for the sign-in card -->
      <div class="col-md-8 col-lg-7 col-xl-6">
        <div class="card shadow" style="border-radius: 1rem;">
          <div class="row g-0">
            <!-- Image Section: Left side of the card -->
            <div class="col-md-5 d-none d-md-block">
              <img src="{% static 'images/sign-in.webp' %}" alt="sign up book" class="img-fluid d-none d-md-block rounded-3"
                alt="login form">
            </div>
            <!-- Form Section: Right side of the card -->
            <div class="col-md-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h3 class="mb-4 text-center fs-3">{% trans "Sign In" %}</h3>
                <!-- Sign In Form -->
                <form class="login form-group" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }} 
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <!-- Sign In Button -->
                  <div class="d-grid">
                    <button class="btn button-style" type="submit">{% trans "Sign In" %}</button>
                  </div>
                  <!-- Forgot Password Link -->
                  <div class="mt-3 text-center">
                    <a href="{% url 'account_reset_password' %}" class="text-muted">{% trans "Forgot Password?" %}</a>
                  </div>
                </form>
              </div>
            </div>
          </div> <!-- End of row inside the card -->
          <!-- Full-width message below the image and form sections -->
          <div class="card-footer text-center py-3">
            <p class="mb-0">{% blocktrans %}If you haven't created an account yet, <a href="{{ signup_url }}" class="text-decoration-underline">sign up</a> first.{% endblocktrans %}</p>
          </div>
        </div> 
      </div> 
    </div> 
  </div> 
</section>
{% endblock %}
