{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h1 class="card-title">{% trans "Sign Out" %}</h1>
                    <p class="card-text">{% trans 'Are you sure you want to sign out?' %}</p>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                        {% endif %}
                        <button type="submit" class="btn btn-danger txt-btn mx-5">{% trans 'Sign Out' %}</button>
                        <a href="{% url 'home' %}" class="btn button-style">{% trans 'Cancel' %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}