{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-3">
            {% include 'components/profile-sidebar.html' %}
        </div>
        <div class="col-md-9">
            <div class="card shadow-sm p-4 text-center prof-table">
                <h3 class="fw-bold mb-3 text-uppercase">{% trans "Password Change" %}</h3>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-black">
                    {% csrf_token %}
                    {{ form.oldpassword|as_crispy_field }}
                    {{ form.password1|as_crispy_field }}
                    {{ form.password2|as_crispy_field }}
                    {{ message }}
                    <button class="btn add-btn m-3" type="submit" name="action" value="change">Update</button>
                  <a class="btn button-style m-3" href="{% url 'profile' %}">Cancel</a>   
                </form>
               
            </div>
        </div>
    </div>
</section>
{% endblock %}