{% extends "base.html" %}
{% load static %}
 
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section>
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-3">
            {% include 'components/profile-sidebar.html' %}
          </div>
              <div class="col-md-8 col-lg-8">
                <div class="card bg-clr-dom-light shadow-sm">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-2 mt-md-4 pb-5">
                            <!-- Profile delete form -->
                            <h3 class="fw-bold mb-4 text-uppercase">{% trans "Password Change" %}</h3>
             
              <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-black fs-3">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.oldpassword|as_crispy_field }}
                </div>
                <div class="mb-3">
                  {{ form.password1|as_crispy_field }}
                </div>
                <div class="mb-3">
                  {{ form.password2|as_crispy_field }}
                </div>
                {{ message }}
                <button class="btn btn-success txt-btn m-2" type="submit" name="action"
                  value="change">Update</button>
              </form>
              <div class="mt-3">
                <!-- Back button to return to the profile page -->
                <a class="btn button-style" href="{% url 'profile' %}">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  {% endblock %}