{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4 text-center">{% trans "Change Password" %}</h1>
            <p class="text-center text-success">
                {% trans 'Your password is now changed.' %}
            </p>
            <div class="text-center mt-3">
                <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans 'Go to Login' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

