{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="min-vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-lg-7 col-xl-9">
        <!-- Card to hold the form and additional content -->
        <div class="card text-black rounded-3">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <!-- Signup form section -->
              <div class="col-md-10 col-xl-5 order-1">
                <p class="text-center mb-5 mx-1 mx-md-4 mt-4 fs-3">{% trans "New Customer Registration" %}</p>
                <!-- Signup form -->
                <form method="POST" action="{% url 'account_signup' %}" class="form-group" id="signup_form">
                  {% csrf_token %} 
                  {{ form|crispy }} 

                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  
                  <!-- Terms and Conditions checkbox -->
                  <div class="form-check d-flex align-items-center mb-4 mx-1 fs-5 fst-italic">
                    <input class="form-check-input me-2" type="checkbox" id="termsCheckbox"required>
                    <label class="form-check-label" for="termsCheckbox">
                      I agree to all statements in 
                      <a href="https://www.termsfeed.com/live/257d2737-2f66-45f2-b0fa-c0db7e630f8f" 
                         target="_blank" 
                         rel="noopener noreferrer">
                         Privacy Policy
                      </a>
                    </label>
                  </div>
                  <!-- Register button -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn button-style">Register</button>
                  </div>
                </form>
              </div>
              <!-- Additional information section -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex flex-column align-items-center order-2 order-lg-2">
                <!-- Information for existing users -->
                <span class="mb-3 text-center">
                  {% blocktrans %}Already have an account? Sign in <a href="{{ login_url }}" class="text-decoration-underline">here</a>.{% endblocktrans %}
                </span>
                <!-- Image for larger screens, hidden on small screens -->
                <img src="{% static 'images/sign-up.webp' %}" alt="sign up book" class="img-fluid d-none d-xl-block rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
