<div class="container-fluid py-5">
    <div class="row">
        <!-- Logo and About Section (Moved to the center for balance) -->
        <div class="col-lg-4 col-sm-6">
            <div class="single-box text-center">
                <h2>Your cozy corner for books and brews.</h2>
                <p>Explore a collection of stories as warm as your favorite tea.</p>
                
                <div class="card-area mb-2">
                    <span>We Accept</span>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-credit-card"></i>
                    <i class="fa fa-cc-mastercard"></i>
                </div>
                <div>  
                <span>Follow us on</span>
                <p class="socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </p>
            </div>
        </div>
    </div>

        <!-- Shop and Policies Section -->
        <!-- Shop and Policies Section -->
<div class="col-lg-4 col-sm-6 d-flex justify-content-center">
    <div class="single-box text-center">
        <h2>Shop</h2>
        <ul class="list-unstyled">
            <li><a href="{% url 'all-products' %}">Shop All Books</a></li>
            <li><a href="{% url 'shipping-returns' %}">Shipping & Returns</a></li>
            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms-of-service' %}">Terms of Service</a></li>
        </ul>
    </div>
</div>


        <!-- Newsletter & Social Media Section (Moved to the right) -->
        <div class="col-lg-4 col-sm-6">
            <div class="single-box text-center">
                <h2>Stay Connected</h2>
                <p>Subscribe to our newsletter for the latest book releases, events, and offers.</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control fs-3" placeholder="Enter your email..." aria-label="Email" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-paper-plane"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom text-center">
    <p>&copy; 2024 Teacup Tales Bookshop. All rights reserved. Designed with love and tea.</p>
</div>
