{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 bg-light border">
            <h4 class="text-center">Column 1</h4>
            HTML stands for HyperText Markup Language.
            It is the standard language used to create
            and design web pages on the internet
        </div>
        <div class="col-md-6 bg-light border">
            <img src="{% static 'images/hero.webp' %}" alt="Hero Image" class="img-fluid w-100">
        </div>
    </div>
</div>