
{% load navigation_tags %}
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="fs-2 collapse navbar-collapse justify-content-center"
            id="navbarSupportedContent">
            <ul class="navbar-nav mx-5 mb-2 my-2 mb-lg-0">
                {% url 'all-products' as all_products_url %}
                <li class="nav-item mx-2">
                    <a class="nav-link {% if request.path == all_products_url %}active{% endif %}" href="{{ all_products_url }}" aria-current="page">All Books</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url 'special-offers' %}" class="nav-link {% active_url 'special-offers' %}">Special Offers</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link {% active_url 'about' %}" href="{% url 'about' %}">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>