<div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
        <div class="container-fluid">
            <div
                class="row my-4 d-flex align-items-center justify-content-between">
                <!-- Brand logo and name -->
                <div
                    class="col-md-4 d-flex align-items-center d-none d-md-flex">
                    <a class="navbar-brand fs-1" href="{% url 'home' %}">Teacup Tales</a>
                    <a class="fs-2" href="{% url 'home' %}">🔖</a>
                </div>
                {% include 'components/top-nav.html' %}
                {% include 'components/nav-bar.html' %}     
</div>