<div class="main-navbar shadow-sm sticky-top mt-2">
    <div class="top-navbar">
        <div class="container-fluid">
            <!-- Logo and Top Navigation in the Same Row for larger screens -->
            <div class="row d-flex align-items-center justify-content-md-between">
                <!-- Logo -->
                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
                    <a class="navbar-brand fs-1 fw-bolder" href="{% url 'home' %}">
                        Teacup Tales Books 🔖
                    </a>
                </div>

                <!-- Top Navigation -->
                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end flex-nowrap mt-2 mt-md-0">
                    {% include 'components/top-nav.html' %}
                </div>
            </div>

            <!-- Main Navigation -->
            <div class="row">
                <div class="col-12">
                    {% include 'components/nav-bar.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
