<!-- Navigation items -->
<div class="d-flex flex-nowrap">
    <ul class="nav mx-auto fs-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view-cart' %}">
                <i class="fa fa-shopping-cart"></i>Cart ({{ product_count }})
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my-wishlist' user.userprofile.id %}">
                <i class="fa fa-heart"></i> ({{ wishlist_count }}) </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
                data-bs-toggle="dropdown" role="button"
                aria-expanded="false">
                <i class="fa fa-user"></i>{{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.user.is_superuser %}
                <li>
                    <a class="dropdown-item" href="{% url 'admin-summary' %}">
                        <i class="fa fa-book me-2"></i> Product Management
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'profile' %}">
                        <i class="fa fa-user me-2"></i> Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'my-orders' %}">
                        <i class="fa fa-list me-2"></i> My Orders
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'my-wishlist' user.userprofile.id %}">
                        <i class="fa fa-heart me-2"></i> My Wishlist
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'view-cart' %}">
                        <i class="fa fa-shopping-cart me-2"></i> My Cart
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">
                        <i class="fa fa-sign-out me-2"></i> Logout
                    </a>
                </li>
            </ul>
            
            {% else %}
            <!-- Register link for non-authenticated users -->
            <li class="nav-item">
                <a
                    class="nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <!-- Login link for non-authenticated users -->
            <li class="nav-item">
                <a
                    class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}"
                    href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </li>
    </ul>
</div>

