<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-hover table-striped align-middle">
            <tbody>
                <tr>
                    <th scope="row" class="bg-light fw-bold py-2">ISBN</th>
                    <td class="py-2">{{ product.isbn }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light fw-bold py-2">Publisher</th>
                    <td class="py-2">{{ product.publisher }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light fw-bold py-2">Genre</th>
                    <td class="py-2">{{ product.genre.name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light fw-bold py-2">Date Published</th>
                    <td class="py-2">{{ product.date_published|date:"F d, Y" }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light fw-bold py-2">Pages</th>
                    <td class="py-2">{{ product.pages }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
