{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

<div class="d-flex flex-column align-items-center justify-content-center product-item my-3">
    <div class="product">
        <!-- Use a placeholder or default image if image URL is not provided -->
        <a href="{% url 'product-detail' product.id %}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/book.jpg' %} {% endif %}" alt="{{ product.title }}">
        </a>
        {% include 'components/add-to-cart.html' %}
    </div>
    {% include 'components/product-tags.html' %}
    <div class="title pt-4 pb-1">{{ product.title }}</div>
    <div class="author pt-4 pb-1">by 
        {% for author in product.author.all %}
            {{ author.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="price">€ {{ product.price }}</div>
</div>