{% load crispy_forms_tags %}
{% load query_transform %}
{% load static %}

{% block content %}
<!-- Advanced Search  -->
<div class="card search-card">
    <div class="card-header text-center mt-3">
                    <h2>Advanced Filter</h2>
                </div>
                    <div class="card-body">
                    <form method="get" action="{% url 'product-search' %}" role="search">
                        {{ filter.form|crispy }}
                        <button type="submit" class="btn button-style">Search</button>
                    </form>
                </div>
            </div>   
{% endblock %}
