{% load crispy_forms_tags %}
{% load query_transform %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
                    <h5 >Filter Products</h5></div>
                    <div class="card-body">
                    <form method="get" action="{% url 'product-search' %}" role="search">
                        {{ filter.form|crispy }}
                        <button type="submit" class="btn button-style">Search</button>
                    </form>
                </div>
            </div>   
{% endblock %}
