
{% load static %}


<!-- Search Form Using ProductFilter's Form -->
<form method="get" action="{% url 'product-search' %}" class="mb-4">
    <!-- Title Field -->
    <div class="mb-3">
        {{ filter.form.title.label_tag }}
        {{ filter.form.title }}
    </div>
    <!-- Author Name Field -->
    <div class="mb-3">
        {{ filter.form.author_name.label_tag }}
        {{ filter.form.author_name }}
    </div>
     <!-- Description Field (Optional) -->
    <div class="mb-3">
        {{ filter.form.description.label_tag }}
        {{ filter.form.description }}
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

