{% load static %}
{% load crispy_forms_tags %}

<!-- Search Form Using ProductFilter's Form -->
<form method="get" action="{% url 'product-search' %}" class="mb-4 p-4 bg-light rounded shadow-sm">
    <h1 class="my-5 text-center">Welcome to Teacup Tales Books</h1>
    <h2 class="fs-3 my-3 text-center">Where Every Book is a Steaming Cup of Adventure.</h2>
    <hr class="hr hr-blurry mb-5">
    <!-- Render Specific Fields with as_crispy_field -->
    <div class="mb-4">
        {{ filter.form.title|as_crispy_field }}
    </div>
    <div class="mb-4">
        {{ filter.form.author_name|as_crispy_field }}
    </div>
    <div class="mb-4">
        {{ filter.form.description|as_crispy_field }}
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn button-style">Search</button>
</form>


