{% load widget_tweaks %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

<!-- Sort By Dropdown aligned right -->
<form method="get" id="sort-form">
    <!-- Include all current GET parameters as hidden inputs -->
    {% for key, value in request.GET.items %}
        {% if key != 'sort_by' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
    {% endfor %}
    
    <div class="row justify-content-end">
        <div class="col-md-4">
            {{ sort_form.sort_by|add_class:"sort-select" }}  
        </div>
    </div>
</form>
