{% load static %}
{% load bag_tools %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout/checkout.css' %}">
{% endblock %}

<div class="item mb-3 d-flex align-items-center">
    <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
         alt="{{ item.product.title }}" 
         class="item-image mr-3">
    <div class="info">
        <h6 class="item-title">{{ item.product.title }}</h6>
        <p class="quantity">Quantity: {{ item.quantity }}</p>
        <p class="price">{{ item.quantity }} @ €{% if item.product.sale_price %}
            <span class="text-danger">€{{ item.product.sale_price }}</span> each
        {% else %}
            €{{ item.product.price }} each
        {% endif %}</p>
        <p class="total-price">Total: €{{ item.lineitem_total }}</p>
    </div> 
</div> 