{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

{% block title %} Teacup Tales | All Books {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for product in products %}
        
                {% include 'components/product-card.html' with product=product %}

        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}

