{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

{% block title %} Teacup Tales Bookshop | Product Detail {% endblock %}

{% block content %}

<div class="container product-detail box my-5">
    <div class="row">
        <!-- Image Section -->
        <div class="col-md-5">
            <div class="image-container position-relative">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/book.jpg' %}{% endif %}" 
                    alt="{{ product.title }}" class="img-fluid">
                <div class="wishlist-icon">
                    {% include 'components/manage-wishlist.html' %}
                </div>
            </div>
        </div>
        <!-- Product Details Section -->
        <div class="col-md-7">
            <h2 class="text-uppercase">{{ product.title }}</h2>
            <!-- Display author names -->
            <h4 class="text-uppercase text-muted">
                {% for author in product.author.all %}
                {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h4>
            <hr>
            <div class="price mb-4">
                <span class="fw-bold fs-4">Price: €{{ product.price|floatformat:2 }}</span>
            </div>
            <p class="lead"> {{ product.description }} </p>
            <hr>
            <form class="form" action="{% url 'add-to-cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label>Quantity: </label>
                    <div class="form-group col-auto">
                        
                        {% include 'components/quantity-selector.html' with product=product %}
                    </div>
                    <div class="cart-buttons my-3">
                        <button type="submit" class="btn btn-info btn-lg">
                            <span class="shopping-cart">🛒</span>
                            <span class="d-none d-sm-inline">Add to cart</span>
                        </button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'components/product-detail-accordion.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'includes/quantity_input_script.html' %}

{% endblock %}