.form-group .qty_input {
    width: 4rem;  
    height: 2.5rem; 
    font-size: 1.2rem; 
  }
  
  .btn .icon {
    height: 2.5rem; 
    font-size: 1.2rem;
  }
  
  
  .table {
    font-size: 1.5rem; 
  }
  