.form-group .qty_input {
    width: 4rem;  
    height: 2.5rem; 
    font-size: 1.2rem; 
  }
  
  .btn .icon {
    height: 2.5rem; 
    font-size: 1.2rem;
  }
  
  
.table {
    font-size: 1.5rem; 
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .custom-align {
        align-items: flex-start !important; 
    }
}
  